.container {
    width:1000px;
    height:650px;
    margin:auto;
    margin-top:50px;
    margin-bottom: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.blank {
    height:20px;
}

.loginBox{
    border:1px solid rgb(231, 231, 231);
    width:50%;
    height:100%;
}

.loginFont {
    font-family: "NanumBarunGothic";
    font-size:11pt;
}

.logo {
    display: flex;
    justify-content: center;
    align-items: center;
    height:200px;
    font-family: "NanumBarunGothicLight";
    font-size:30pt;
}

.inputLoginBox {
    height:190px;
    display: flex;
    justify-content: center;
}

.inputInfo {
    width: 200px;
    font-family: 'IBM Plex Sans', sans-serif;
    font-size: 0.875rem;
    font-weight: 400;
    line-height: 1.5;
    padding: 8px 12px;
    border-radius: 8px;
    color: #000000; /* 이 색은 grey[500]에 해당합니다 */
    background: #fff;
    border: 1px solid #B0B8C4; /* 이 색은 grey[400]에 해당합니다 */
    box-shadow: 0px 2px 2px #E5EAF2;
}

.inputInfo:hover {
    border-color: #8faadc; /* 이 색은 blue[500]에 해당합니다 */
}

.inputInfo:focus {
    border-color: #8faadc; /* 이 색은 blue[500]에 해당합니다 */
    box-shadow: 0 0 0 3px #DAECFF; /* 이 색은 blue[200]에 해당합니다 */
    outline: 0; /* Firefox 등에서 추가적인 포커스 효과를 없애는 것 */
}

.btnBox {
    display: flex;
    justify-content: center;
    align-items: center;
}

.loginBtn {
    width:200px;
    height:80px;
    border-radius: 5px;
    background-color: #326CF9;
    color:white;
    border:none;
    font-family: "NanumBarunGothicBold";
    font-size:12pt;
}

.loginBtn:hover {
    cursor:pointer;
    background-color:#6994ff;
    color:white;
}

.findBox {
    height:150px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.findId, .findPw, .signUp {
    display: flex;
    justify-content: center;
    text-decoration: none;
    color:black;
    margin:10px;
    font-family: "NanumBarunGothicLight";
}

.findId:hover, .findPw:hover, .signUp:hover {
    font-weight: bold;
}

/*공인중개사 로그인*/
.estateLoginBox {
    width:50%;
    height:100%;
    border: 1px solid rgb(231, 231, 231);
}


/*관리자 모달창*/

.adminModal {
    display: flex;
    justify-content: center;
    align-items: center;
    height:100%;
    padding:30px;
}

.adminTitle {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
    font-family: "NanumBarunGothicLight";
    font-size:15px;
    font-weight: bold;
}

.icon {
    width:30px;
}

.adminBtnDiv {
    display: flex;
    justify-content: center;
    margin-top:20px;
}

.adminBtn {
    font-family: "NanumBarunGothicLight";
    background-color: #326CF9;
    border:none;
    border-radius: 5px;
    color:white;
    padding: 5px;
    padding-left: 10px;
    padding-right: 10px;
}

.adminBtn:hover {
    background-color: #6994ff;
    color:white;
    cursor: pointer;
}