.info_main {
  overflow-y: auto;
  height: 100%;
}

.info_main * {
  font-family: "NanumBarunGothic";
}

/* 사이드 메뉴 스크롤 숨김처리 */
.info_main::-webkit-scrollbar {
  display: none;
}

.info_img {
  height: 300px;
  border-bottom: 1px solid #d9d9d9;
  position: relative;
}

.info_img_top {
  position: absolute;
  left: 20px;
  width: 28px;
  height: 28px;
  top: 10px;
  cursor: pointer;
  z-index: 10;
}

.info_img_main {
  position: absolute;
}

.address_box {
  height: 50px;
  background-color: #fff;
  border-top: 1px solid #d9d9d9;
  border-bottom: 1px solid #d9d9d9;
  text-align: center;
  line-height: 50px;
  font-size: 14px;
  font-weight: 600;
  position: absolute;
  width: 399px;
  background-color: #fff;
  z-index: 10;
  display: none;
  top: 50px;
}

.address_box div {
  position: absolute;
  left: 20px;
  width: 28px;
  height: 28px;
  line-height: 28px;
  cursor: pointer;
  top: 7px;
}

.info_title {
  height: 170px;
  border-bottom: 1px solid #d9d9d9;
  padding: 20px;
  color: #1a1a1a;
}


.info_title_top {
  position: relative;
}

.info_idx {
  border-radius: 25px;
  background-color: #000;
  color: #fff;
  height: 25px;
  line-height: 25px;
  font-size: 12px;
  width: 125px;
  font-weight: 600;
  text-align: center;
}

.seller_idx {
  border-radius: 25px;
  background-color: #326CF9;
  color: #fff;
  height: 25px;
  line-height: 25px;
  font-size: 12px;
  width: 95px;
  font-weight: 600;
  text-align: center;
}



.info_day {
  position: absolute;
  right: 0;
  top: 0;
  line-height: 25px;
  font-size: 14px;
  color: #808080;
}

.info_address {
  margin-top: 16px;
  font-size: 14px;
}

.info_cost {
  font-size: 24px;
  font-weight: 600;
  margin: 5px 0;
}

.info_maintenance_cost {
  font-size: 14px;
}

.info_subbox {
  border-bottom: 1px solid #d9d9d9;
  font-size: 16px;
  padding-left: 20px;
  position: relative;
  padding-right: 20px;
}

.info_subbox div {
  height: 55px;
  line-height: 55px;
}

.info_subbox span {
  margin-right: 10px;
}

.subbox_bold {
  font-weight: 600;
}

.more_info {
  font-size: 14px;
  color: rgb(50, 108, 249);
  font-weight: 600;
  margin-top: 25px;
  text-align: right;
}

.more_info_text {
  cursor: pointer;
  display: inline-block;
  width: auto;
}

.more_info_box {
  position: absolute;
  width: 399px;
  height: calc(100% - 50px);
  top: 50px;
  background-color: #fff;
  z-index: 11;
  display: none;
  max-height: calc(100% - 50px);
}

.more_info_box_top {
  height: 50px;
  background-color: #fff;
  text-align: center;
  line-height: 50px;
  font-size: 14px;
  font-weight: 600;
  position: relative;
}

.address_box_fix {
  height: 50px;
  background-color: #fff;
  border-top: 1px solid #d9d9d9;
  border-bottom: 1px solid #d9d9d9;
  text-align: center;
  line-height: 50px;
  font-size: 14px;
  font-weight: 600;
  position: fixed;
  width: 399px;
  background-color: #fff;
  z-index: 10;
  display: block;
}

.address_box_fix div {
  position: absolute;
  left: 20px;
  width: 28px;
  height: 28px;
  line-height: 28px;
  cursor: pointer;
  top: 7px;
}

.more_info_box_top div {
  position: absolute;
  left: 20px;
  width: 28px;
  height: 28px;
  line-height: 28px;
  cursor: pointer;
  top: 11px;
}

.more_div {
  margin-top: 10px;
  margin-left: 20px;
  height: 45px;
  line-height: 45px;
}

.more_div_bold {
  margin-top: 10px;
  margin-left: 20px;
  height: 45px;
  line-height: 45px;
  font-weight: bold;
}

.more_div span {
  margin-right: 10px;
}

.more_div_bold span {
  margin-right: 10px;
}

.close_btn {
  border: 1px solid #000;
  border-radius: 5px;
  height: 45px;
  line-height: 45px;
  text-align: center;
  font-weight: 600;
  font-size: 16px;
  width: 360px;
  margin-left: 20px;
  position: absolute;
  bottom: 10px;
  cursor: pointer;
}

.bold_text {
  font-weight: 600;
  font-size: 18px;
}

.bold_text_small {
  display: block;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.info_maintenancebox {
  padding: 20px;
  height: 165px;
  border-bottom: 1px solid #d9d9d9;
}

.info_maintenancebox div {
  margin-top: 5px;
}

.info_optionbox {
  padding: 20px;
  /* height: 215px; */
  border-bottom: 1px solid #d9d9d9;
  position: relative;
}

.info_optiontable {
  display: flex;
}

.option_box {
  width: calc(100% / 4);
  margin-top: 20px;
}

.option_box div:first-child {
  height: 70%;
}

.option_box div {
  height: 30%;
  text-align: center;
}

.option_more_info_parent {
  display: flex;
  justify-content: flex-end;
}

.option_more_info {
  font-size: 14px;
  color: rgb(50, 108, 249);
  font-weight: 600;
  cursor: pointer;
  margin-top: 20px;
}

.info_detail {
  padding: 20px;
  border-bottom: 1px solid #d9d9d9;
}

.info_detail div {
  margin-top: 10px;
}

.info_location {
  padding: 20px;
  height: 360px;
  border-bottom: 1px solid #d9d9d9;
}

.info_map {
  margin-top: 10px;
  height: 180px;
  border: solid 1px #d9d9d9;
  border-radius: 5px;
}

.bottom_box {
  width: 399px;
  background-color: #fff;
  line-height: 70px;
  font-weight: 600;
  padding-left: 20px;
  position: absolute;
  bottom: 0;
  height: 70px;
  border-top: 1px solid #d9d9d9;
  font-size: 16px;
  display: flex;
  z-index: 10;
}

.bottom_btn {
  right: 20px;
  width: 190px;
  height: 45px;
  background-color: rgb(50, 108, 249);
  border-radius: 5px;
  margin-top: 12.5px;
  line-height: 45px;
  text-align: center;
  color: #fff;
  font-weight: 600;
  right: 20px;
  cursor: pointer;
  position: absolute;
}

.seller_box {
  padding: 20px;
  /* border-bottom: 1px solid #d9d9d9; */
  position: relative;
}

.safe_seller {
  position: absolute;
  box-shadow: rgba(26, 26, 26, 0.1) 0px 2px 2px;
  padding: 0 4px;
  border-radius: 25px;
  font-size: 10px;
  color: rgb(50, 108, 249);
  line-height: 20px;
  height: 20px;
  font-weight: 600;
  background-color: #fff;
  top: 70px;
  left: 25px;
}

.seller_img {
  width: 60px;
  height: 60px;
  line-height: 60px;
  text-align: center;
}

.seller_info {
  display: flex;
  height: 60px;
  cursor: pointer;
}

.seller_title {
  font-size: 16px;
  margin-left: 10px;
  margin-top: 6px;
}

.seller_title .grade {
  font-size: 14px;
  color: #808080;
}

.recommend {
  font-size: 10px;
  color: rgb(50, 108, 249);
  padding: 2px;
  border-radius: 5px;
  margin-right: 4px;
}

.seller_box_1 {
  height: 53px;
  margin-top: 20px;
  display: flex;
}

.seller_box_1 div:first-child {
  width: 40px;
  text-align: center;
  height: 40px;
}

.seller_box_1 div {
  width: calc(100% - 40px);
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: normal;
  line-height: 1.4;
  text-align: left;
  word-wrap: break-word;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  height: 70px;
}

.seller_box_2 {
  margin-top: 20px;
  display: flex;
}

.seller_box_2 div:first-child {
  width: 40px;
  text-align: center;
  height: 40px;
}

.seller_box_2 div {
  width: calc(100% - 40px);
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: normal;
  line-height: 1.4;
  text-align: left;
  word-wrap: break-word;
  display: -webkit-box;
  -webkit-line-clamp: 5;
  -webkit-box-orient: vertical;
  max-height: 115px;
}

.seller_best {
  width: calc(100% - 40px);
  margin-left: 40px;
  /* color: #808080;
  font-weight: 600;*/
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
  padding-left: 15px;
}

.seller_slide_box {
  padding: 20px;
  padding-top: 0px;
  /* border-bottom: 1px solid #d9d9d9; */
  position: relative;
  border-bottom: 1px solid #d9d9d9;
}

.slide_frame {
  margin: 20px 0 0 0;
  height: 260px;
  padding: 12px 0 0 0;
}

.slide_frame .slide_item_box {
  border: 1px solid #d9d9d9;
  width: 210px;
  border-radius: 5px;
}

.slide_item_box div:first-child {
  height: 155px;
  padding: 0;
}

.slide_item_box div {
  height: 80px;
  padding: 12px 16px 12px;
}

.slide_item_box span {
  display: block;
  font-size: 14px;
}

.review_slide_box {
  padding: 20px;
  /* border-bottom: 1px solid #d9d9d9; */
  position: relative;
}

.review_list_frame {
  padding: 20px;
}

.review_list_frame_parent {
  margin-top: 20px;
}

.review_list_frame_child {
  border: 1px solid #d9d9d9;
  border-radius: 5px;
}

.review_list_frame_child_img {
  height: 155px;
  width: 100%;
}

.review_list_frame_child_content {
  padding: 12px 16px 12px 16px;
}

.review_list_frame_child_content_semi {
  margin-top: 10px;
}

.review_list_frame_more {
  margin-top: 25px;
  font-size: 14px;
  color: rgb(50, 108, 249);
  font-weight: 600;
  cursor: pointer;
  text-align: right;
}

.report_frame {
  padding: 20px;
  border-top: 1px solid #d9d9d9;
  height: 100px;
  color: #808080;
}

.report_frame_box {
  display: flex;
  align-items: center;
}

.report_button {
  display: inline-block;
  cursor: pointer;
}

.report-option {
  margin: 10px 0;
}

.report-option input[type="radio"] {
  margin-right: 5px;
}

.report-textarea {
  width: 100%;
  margin-top: 10px;
  height: 100px; /* 높이는 필요에 따라 조절하세요 */
}

.report-option label {
  margin-left:20px;
}

.more_seller_box {
  position: absolute;
  width: 399px;
  height: calc(100% - 50px);
  top: 50px;
  background-color: #fff;
  z-index: 11;
  display: none;
  max-height: calc(100% - 50px);
  overflow-y: auto;
  overflow-x: hidden;
}

.more_info_box_frame {
  position: relative;
  width: 100%;
}

/* 사이드 메뉴 스크롤 숨김처리 */
.more_seller_box::-webkit-scrollbar {
  display: none;
}

.more_div_seller {
  height: 45px;
  line-height: 45px;
  display: flex;
}

.more_div_seller span {
  margin-right: 10px;
}

.more_div_seller span {
  margin-right: 10px;
}

.seller_map {
  height: 180px;
  margin-top: 10px;
  border: solid 1px #d9d9d9;
  border-radius: 5px;
}

.list_box {
  border-bottom: 1px solid #d9d9d9;
  height: 145px;
  width: 100%;
  font-size: 14px;
  color: #1a1a1a;
  display: flex;
  padding: 10px;
  cursor: pointer;
  transition: all 0.3s;
  padding-bottom:15p
}

.list_box_img {
  width: 40%;
  border: 1px solid #d9d9d9;
  border-radius: 5px;
}

.list_box_img img {
  width: 100%;
  height: 100%;
}

.list_box_text {
  width: 60%;
  padding-left: 10px;
}

.list_box_top {
  font-size: 12px;
}

.list_title {
  font-size: 18px;
  font-weight: 600;
  margin-top: 6px;
  margin-bottom: 4px;
}

.list_subtitle {
  font-size: 14px;
  margin-top: 2px;
}

.list_simple {
  font-size: 14px;
  margin-top: 4px;
  color: #808080;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}