
.container {
    width: 100%;
    height: 1100px;
}
.imgbox {
    width: 100%;
    height: 40%;

}


.middlebox {
    width: 100%;
    height: 40%;
}

.middle_up {
    margin-top: 50px;
    width: 950px;
    margin-left: auto;
    margin-right: auto;
    height: 50%;

}

.recent_read {
    width: 900px;
    height: 100%;
    margin-left: 20px;
}

.middle_down {
    margin-top: 50px;
    width: 950px;
    height: 60%;
    margin-left: auto;
    margin-right: auto;
}


.fontcss {
    color: rgb(0, 0, 0);
    margin-right: 0px;
    font-family: SpoqaHanSans;
    font-size: 13px;
    white-space: nowrap;
}
.datefontcss{
    color: rgb(0, 0, 0);
    font-family: SpoqaHanSans;
    font-size: 12px;
    line-height: 25px;
    white-space: nowrap;
}

.middle_down>div {
    float: left;
    width: 280px;
    height: 100%;
}

.recent_estate,
.freeboard,
.board {
    margin-left: 25px;
}

.titlebox {
    padding-top: 10px;
    height: 12%;
}

.title {
    font-weight: bold;
}

.morebtnspan {
    float: right;
}

.morebtn {
    border: none;
    width: 70px;
    height: 25px;
    border-radius: 5px;
    font-size: 13px;
    color: rgb(117, 117, 117);
}

.morebtn:hover {
    background-color: rgb(206, 206, 206);
}
.cbgdiv{
    line-height: 25px;
}
.cbgdiv:hover {
    background-color: rgb(240, 240, 240);
    cursor: pointer;
}


.homeimg {
    width: 100%;
    height: 450px;
    min-width: 1290px;
}

.overlay_text {
    position: absolute;
    top: 18%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-size: 30px;
    font-weight: bold;
}
.recentdiv{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    line-height: 200px;
}
.home_body_map_search {
    position: absolute;
    top: 30%;
    left: 50%;
    width: 550px;
    height: 70px;
    box-sizing: border-box;
    z-index: 100;
    transform: translate(-50%, -50%);
}
.search_list_box {
    position: absolute;
    max-height: 400px;
    width: 493px;
    border: 1px solid #d9d9d9;
    border-radius: 4px;
    top: 34%;
    left: 50%;
    background-color: #fff;
    z-index: 101;
    display: none;
    overflow-y: auto;
    transform: translate(-53.6%);
}
.search_box {
    margin: 10px;
    width: 100%;
    height: 100%;
    border: 1px solid rgb(50, 108, 249);
    border-radius: 4px;
    overflow: hidden;
    position: relative;
    font-size: 18px;
}
.search_box input {
    padding-left: 30px;
    width: 100%;
    height: 100%;
    outline: none;
    border: none;
}
.search_box button {
    border: 1px solid #000;
    position: absolute;
    right: 11%;
    background-color: #fff;
    border: none;
    height: 100%;
    line-height: 70px;
    cursor: pointer;
    font-size: 16px;
    display: none;
}

.search_icon {
    border: 1px solid rgb(50, 108, 249);
    border-left: none;
    width: 10%;
    height: 100%;
    line-height: 60px;
    text-align: center;
    border: none;
    background-color: rgb(50, 108, 249);
    position: absolute;
    top: 0;
    right: 0;
    color: #fff;
    cursor: pointer;
}
.recent{
    position: absolute;
    top: 45%;
    right: 2%;
    bottom: 0px;
    z-index: 1;
    margin-top: 174px;
}
.recentbox{
    position: sticky;
    top: 50%;
    transform: translateY(-50%);
    width: 180px;
    font-size: 12px;
    line-height: 16px;
    color: rgb(51, 51, 51);
    letter-spacing: -0.3px;
}
.saw_estate{
    margin-top: 8px;
    border: 1px solid rgb(221, 221, 221);
    background-color: rgb(255, 255, 255);
    text-align: center;
    font-weight: 500;
}
.sawdiv{
    margin-top: 10px;
    font-size: medium;
}


.search_list_box div {
    border-bottom: 1px solid #d9d9d9;
    height: 63px;
    padding: 13px 10px 0;
    font-size: 10px;
    color: #444;
    cursor: pointer;
}

.search_list_box div:hover {
    background-color: #d9d9d9;
}

.search_list_box div span {
    font-size: 12px;
    color: #444;
    font-weight: 600;
    margin-bottom: 5px;
    display: block;
}
.imagediv{
    width:120px;
    height: 70px;
    margin:auto ;
    margin-top: 5px;
    margin-bottom: 15px;
}
.imagediv:hover{
    cursor: pointer;
}
.sawImage{
    width: 100%;
    height: 100%;
}