.container {
    width:500px;
    height:700px;
    margin:auto;
    margin-top:30px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.blank {
    height:20px;
}

.findIdBox{
    border:1px solid black;
    width:100%;
    height:100%;
}

.findIdFont {
    font-size:11pt;
    font-weight: bold;
}

.logo {
    display: flex;
    justify-content: center;
    align-items: center;
    height:200px;
    font-size:30pt;
    font-weight: 700;
}

.inputFindIdBox {
    height:190px;
    display: flex;
    justify-content: center;
}

.inputInfo {
    width:200px;
    height:30px;
}

.btnBox {
    display: flex;
    justify-content: center;
    align-items: center;
}

.findIdBtn {
    width:200px;
    height:80px;
    background-color: black;
    color:white;
    font-size:12pt;
}

.findIdBtn:hover {
    cursor:pointer;
    background-color:rgb(48, 48, 48);
    color:white;
}

.findBox {
    height:150px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.findId, .findPw, .signUp {
    display: flex;
    justify-content: center;
    text-decoration: none;
    color:black;
    margin:10px;
}
.good{
    color: rgb(35, 255, 35);
}
.notgood{
    color: rgb(255, 55, 55);
}