.boardTitle{
    font-size:xx-large;
    font-weight:bold;
    margin-top:10px;
}
.boardTitle+hr{
    height:4px;
    color:black;
    background-color: black;
    margin-bottom:30px;
}
.selectBoard{
    overflow: hidden;
}
.selectBoard div{
    color:black;
    float: left;
    width:33.33%;
    height:55px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size:20px;
    font-weight:bold;
    background-color: rgb(250, 250, 250);
    border:1px solid gainsboro;
}
.selectBoard div:hover:not(.selectBoard>div){
    cursor: pointer;
    background-color: rgb(240, 240, 240);
}
.selectBoard>div{
    background-color: #A0A0A0;
    color:white;
    border:none;
}
.selectBoard>div:hover{cursor: pointer;}
.selectBox{
    height:35px;
    width:10%;
}
.selectBox select{
    height:100%;
    width:100%;
    border:none;
    border-bottom:1px solid #A0A0A0;
}


.searchBox{
    width:30%;
    margin-bottom:30px;
    overflow: hidden;
    height:35px;
}
.searchBox>div{
    float:left;
    height:100%;
}
.searchBox>div:nth-child(1){
    width:80%;
    border:2px solid black;
    border-radius: 5px;;
}
.searchInput{overflow: hidden;}
.searchInput>div{
    float:left;
    height:100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.searchInput>div:nth-child(1){
    width:10%;
}
.searchInput>div:nth-child(2){
    width:90%;
}
.searchInput input{
    border:none;
}
.searchInput input:focus{outline:none;}
.searchBox>div:nth-child(2){
    width:20%;
    display: flex;
    align-items: center;
    justify-content: end;
    height:100%;
}
.searchBox button{
    height:100%;
    width:80%;
    border:1px solid gainsboro;
    border-radius: 5px;
}
.searchBox button:hover{
    cursor: pointer;
    background-color: #A0A0A0;
    border:1px solid #939393;
    color:white;
}

.searchBox input{
    width:100%;
    height:100%;
}


.boardContentsBox{
    border:1px solid blacks;
    padding:10px;
    padding-bottom:4px;
    border:1px solid #A0A0A0;
    margin-bottom:20px;
}

.boardInfo{ 
    overflow:hidden;
    padding-bottom:8px;
    border-bottom:1px solid #A0A0A0;
    height:40px;
}
.boardInfo>div{
    float:left;
    font-weight: bold;
    font-size:large;
    display: flex;
    align-items: center;
    justify-content: center;
}
.boardInfo>div:nth-child(1){
    width:5%;
    padding-top:7px;
}
.boardInfo>div:nth-child(1)>img{width:20%;}
.boardInfo>div:nth-child(2){width:5%;}
.boardInfo>div:nth-child(3){width:15%;}
.boardInfo>div:nth-child(4){width:50%;}
.boardInfo>div:nth-child(5){width:15%;}
.boardInfo>div:nth-child(6){width:10%;}
.boardListContents span{
    color:rgb(1, 140, 247);
    margin-right:10px;
    text-decoration: none!important;
}
.noBoardContents{
    text-align: center;
}
.boardListContents a{color:black;}
.boardListContents>div{
    overflow:hidden;
    padding-top:8px;
    padding-bottom:8px;
    border-bottom:1px solid gainsboro;
}
.boardListContents>div:last-child{border:none;}
.boardListContents>div>div{
    float:left;
    font-size:large;
    text-align: center;
}
.boardListContents>div>div:nth-child(1){
    width:5%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top:8px;
}
.boardListContents>div>div:nth-child(1)>img{width:20%}
.boardListContents>div>div:nth-child(2){width:5%;}
.boardListContents>div>div:nth-child(3){width:15%;}
.boardListContents>div>div:nth-child(4){width:50%;}
.boardListContents>div>div:nth-child(5){width:15%;}
.boardListContents>div>div:nth-child(6){width:10%;}

.writeBtnDiv{
    text-align: right;
}
.writeBtnDiv button{
    height:100%;
    width:80px;
    height:35px;
    border:1px solid gainsboro;
    border-radius: 5px;
}
.writeBtnDiv button:hover{
    cursor: pointer;
    background-color: #A0A0A0;
    border:1px solid #939393;
    color:white;
}
.naviFooter{
    display: flex;
    justify-content: space-evenly;
    font-size: large;
}