.boardTitle {
    font-size: xx-large;
    font-weight: bold;
    margin-top: 10px;
}

.boardTitle+hr {
    height: 4px;
    background-color: black;
    border: black;
    margin-bottom: 30px;
}

.selectBoard {
    overflow: hidden;
}

.selectBoard div {
    color: black;
    float: left;
    width: 33.33%;
    height: 55px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 20px;
    font-weight: bold;
    background-color: white;
    border: 1px solid gainsboro;
}

.selectBoard div:hover:not(.selectBoard>div) {
    cursor: pointer;
    background-color: rgba(240, 240, 240, 0.3);
}

.selectBoard>div {
    background-color: #326CF9;
    color: white;
    border: none;
}

.selectBoard>div:hover {
    cursor: pointer;
}

.selectBox {
    height: 35px;
}

.selectBox select {
    height: 100%;
    width: 100%;
    border: none;
    border-bottom: 1px solid #A0A0A0;
}


.searchBox {
    margin-bottom: 30px;
    overflow: hidden;
    height: 35px;
}

@media (min-width: 460px) {
    .searchBox {
        width: 100%;
    }
}

@media (min-width: 700px) {
    .searchBox {
        width: 70%;
    }
}

@media (min-width: 1000px) {
    .searchBox {
        width: 50%;
    }
}

@media (min-width:1500px) {
    .searchBox {
        width: 30%;
    }
}

.searchBox>div {
    float: left;
    height: 100%;
}

.searchBox>div:nth-child(1) {
    width: 80%;
    border: 1px solid #535353;
    border-radius: 5px;
}

.searchBox>div:nth-child(1):focus-within {
    border: 1px solid #326CF9;
}

.searchInput {
    overflow: hidden;
}

.searchInput>div {
    float: left;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.searchInput>div:nth-child(1) {
    width: 10%;
}

.searchInput>div:nth-child(2) {
    width: 90%;
}

.searchInput input {
    border: none;
}

.searchInput input:focus {
    outline: none;
}

.searchBox>div:nth-child(2) {
    width: 20%;
    display: flex;
    align-items: center;
    justify-content: end;
    height: 100%;
}

.searchBox button {
    height: 100%;
    width: 80%;
    min-width: 65px;
    border: 1px solid #535353;
    background-color: white;
    border-radius: 5px;
    margin-left: 10px;
}

.searchBox button:hover {
    cursor: pointer;
    background-color: #326CF9;
    border: 1px solid #326CF9;
    color: white;
}

.searchBox input {
    width: 100%;
    height: 100%;
    border-radius: 5px;
}


.boardContentsBox {
    padding: 10px;
    padding-bottom: 4px;
    border: 1px solid #A0A0A0;
    border-radius: 3px;
    margin-bottom: 20px;
}

.boardInfo {
    overflow: hidden;
    padding-bottom: 8px;
    border-bottom: 1px solid gainsboro;
    height: 40px;
}

.boardInfo>div {
    font-weight: bold;
    font-size: large;
    display: flex;
    align-items: center;
    justify-content: center;
}

@media(min-width:460px) {
    .boardInfo>div:not(.boardInfo>div:nth-child(4)) {
        display: none;
    }

    .boardInfo>div:nth-child(4) {
        width: 100%;
    }
}

@media(min-width:576px) {
    .boardInfo>div:nth-child(1) {
        display: flex !important;
        float: left;
    }

    .boardInfo>div:nth-child(1) {
        width: 5%;
        padding-top: 5px;
        float: left;
    }

    .boardInfo>div:nth-child(4) {
        width: 95%;
        float: left;
    }
}

@media(min-width:768px) {

    .boardInfo>div:nth-child(2),
    .boardInfo>div:nth-child(5) {
        display: flex !important;
        float: left;
    }

    .boardInfo>div:nth-child(2) {
        width: 15%;
    }

    .boardInfo>div:nth-child(5) {
        width: 30%;
    }
}

@media(min-width:992px) {
    .boardInfo>div:nth-child(1) {
        padding-top: 3px !important;
    }

    .boardInfo>div:nth-child(3) {
        display: flex !important;
        float: left;
        width: 20%;
    }

    .boardInfo>div:nth-child(4) {
        width: 45% !important;
    }
    .boardInfo>div:nth-child(5) {
        width: 20% !important;
    }
}
@media(min-width:1200px) {
    .boardInfo>div{
        display: flex !important;
        float: left;
    }
}

@media(min-width:1200px) {
    .boardInfo>div {
        display: flex;
        float: left;
    }
}

@media(min-width:992px) {
    .boardInfo>div:nth-child(1) {
        width: 5%;
    }
}


.boardInfo>div:nth-child(1)>img {
    width: 20%;
}

@media(min-width:992px) {
    .boardInfo>div:nth-child(2) {
        width: 10%;
    }
}

@media(min-width:1200px) {
    .boardInfo>div:nth-child(2) {
        width: 5%;
    }
}

@media(min-width:1200px) {
    .boardInfo>div:nth-child(3) {
        width: 15%;
    }
}

@media(min-width:768px) {
    .boardInfo>div:nth-child(4) {
        display: flex;
        float: left;
        width: 50%;
    }
}

@media(min-width:992px) {
    .boardInfo>div:nth-child(4) {
        display: flex;
        float: left;
        width: 50%;
    }
}

@media(min-width:992px) {
    .boardInfo>div:nth-child(5) {
        width: 15%;
    }
}

.boardInfo>div:nth-child(6) {
    width: 10%;
}

.boardListContents span {
    color: #326CF9;
    margin-right: 10px;
    text-decoration: none !important;
}

.noBoardContents {
    text-align: center;
}

.fav,
.notFav {
    min-width: 17px;
}

.fav,
.notFav:hover {
    cursor: pointer;
}

.boardListContents a {
    color: black;
}

.boardListContents>div {
    overflow: hidden;
    padding-top: 8px;
    padding-bottom: 8px;
    border-bottom: 1px solid gainsboro;
}

.boardListContents>div:last-child {
    border: none;
}

.boardListContents>div>div {
    float: left;
    font-size: large;
    text-align: center;
}

@media(min-width:460px) {
    .boardListContents>div>div:not(.boardListContents>div>div:nth-child(4)) {
        display: none;
    }

    .boardListContents>div>div:nth-child(4) {
        width: 100%;
    }

}

@media(min-width:576px) {
    .boardListContents>div>div:nth-child(1) {
        float: left;
        display: block !important;
    }

}

@media(min-width:768px) {
    .boardListContents>div>div:nth-child(2) {
        display: block !important;
        float: left;
        width: 15%;

    }

    .boardListContents>div>div:nth-child(5) {
        display: block !important;
        float: left;
        width: 30%;
    }

}

@media(min-width:992px) {
    .boardListContents>div>div:nth-child(2){
        width:10%!important;
    }
    .boardListContents>div>div:nth-child(3){
        display: block !important;
        float: left;
        width:20%;
    }
    .boardListContents>div>div:nth-child(4){
        width:45%!important;
    }
    .boardListContents>div>div:nth-child(5){
        width:20%;
    }
}
@media(min-width:1200px) {
    .boardListContents>div>div{
        display: block !important;
        float: left;
    }
}


.boardListContents>div>div:nth-child(1) {
    width: 5%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.boardListContents>div>div:nth-child(1)>img {
    width: 20%
}

@media(min-width:1200px) {
    .boardListContents>div>div:nth-child(2) {
        width: 5%!important;
    }
}

@media(min-width:1200px) {
    .boardListContents>div>div:nth-child(3) {
        width: 15%;
    }
}

@media(min-width:576px) {
    .boardListContents>div>div:nth-child(4) {
        width: 95%;
    }
}

@media(min-width:768px) {
    .boardListContents>div>div:nth-child(4) {
        width: 50%;
    }
}

@media(min-width:1200px) {
    .boardListContents>div>div:nth-child(5) {
        width: 20%;
    }
}

.boardListContents>div>div:nth-child(6) {
    width: 10%;
}

.writeBtnDiv {
    text-align: right;
}

.writeBtnDiv button {
    height: 100%;
    width: 80px;
    height: 35px;
    border: 1px solid #326CF9;
    background-color: #326CF9;
    color: white;
    border-radius: 5px;
}

.writeBtnDiv button:hover {
    cursor: pointer;
    background-color: #0D65D9;
    border: 1px solid #0D65D9;
    color: white;
}

.naviFooter {
    display: flex;
    justify-content: space-evenly;
    font-size: large;
}