.searchDiv{
    display: flex;
    justify-content: space-between;
}
.triangle{
    width: 0;
    height: 0;
    border-bottom: 15px solid transparent;
    border-top: 15px solid #326CF9;
    border-left: 20px solid transparent;
    border-right: 20px solid transparent;
    margin-left:calc(83.33% - 10px);
    margin-bottom:8px;
}