.boardContentsTitle{
    margin-top:20px;
    font-size:xx-large;
    display: flex;
    align-items: center;
    border-bottom:1px solid #A0A0A0;
    font-family: "NanumBarunGothicBold";
}
.boardContentsTitle>span{
    color:rgb(1, 140, 247);
    font-weight: normal;
    font-size: x-large;
    margin-right:10px;
}

.boardContentsInfo{
    margin-bottom:10px;
    overflow: hidden;
}
.boardContentsInfo>div{
    float:left;
    margin-top:5px;
}
.boardContentsInfo>div:nth-child(1){width:75%;}
.boardContentsInfo>div:nth-child(2){
    width:25%;
    text-align: end;
}
.boardContentsInfo button{
    height:100%;
    width:80px;
    height:30px;
    border:1px solid #A0A0A0;
    background-color: white;
    border-radius: 5px;
}
.boardContentsInfo button:hover{
    cursor: pointer;
    background-color: #A0A0A0;
    border:1px solid #939393;
    color:white;
}

.fileBox{
    margin-bottom:20px;
    background-color: rgba(243, 243, 243, 0.535);
    border:1px solid gainsboro;
    padding:10px;
}
.fileBox>div:nth-child(1){
    width:8%;
    margin-bottom:5px;
    font-weight: bold;
}
.fileName:hover{
    cursor: pointer;
    text-decoration: underline;
}
.boardContentsDiv{
    border:1px solid #A0A0A0;
    padding:10px;
    margin-bottom:20px;
    min-height:100px;
}
.btns{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.backBtn{
    height:100%;
    width:80px;
    height:35px;
    border:1px solid gainsboro;
    border-radius: 5px;
}

.editBtn{
    height:100%;
    width:80px;
    height:35px;
    border:1px solid #326CF9;
    background-color: #326CF9;
    color:white;
    border-radius: 5px;
}
.backBtn:hover{
    cursor: pointer;
    background-color: #A0A0A0;
    border:1px solid #939393;
    color:white;
}
.editBtn:hover{
    cursor: pointer;
    background-color: #0D65D9;
    border:1px solid #0D65D9;
    color:white;
}
.insertReplyDiv textarea{
    width:100%;
    resize: none;
    border:1px solid #A0A0A0;
}
.insertReplyBtn button{
    height:100%;
    width:80px;
    height:30px;
    border:1px solid #326CF9;
    background-color: #326CF9;
    color:white;
    border-radius: 5px;
}
.insertReplyBtn button:hover{
    cursor: pointer;
    background-color: #0D65D9;
    border:1px solid #0D65D9;
    color:white;
}
.replyListStartHr{margin-bottom:0px;}
.replyBoxFirst{
    margin-top:5px;
    border-bottom:1px solid gainsboro;
}
.replyBoxFirst>div:nth-child(3){margin-bottom:20px;}

.replyBox{
    border-bottom:1px solid gainsboro;
    padding:5px 0px;
}

.replyBox:nth-child(1){padding-top:0px;}
.replyBox>div:nth-child(3){margin-bottom:20px;}
.replyInfo{
    overflow: hidden;
}
.replyInfo>div{
    float:left;
    width:50%;
    margin-bottom:3px;
}
.replyInfo>div:nth-child(1){
    text-decoration: underline;
}
.replyInfo>div:nth-child(2){text-align: end;}
.replyTextArea{width:100%;}
.replyTextArea textarea{
    width:100%;
    resize:none;
    border-radius: 5px;
}
.replyTextArea textarea:focus-within{
    border-radius: 5px;
}
.replyListBtn{
    display: flex;
    justify-content: space-between;
}
.replyEditBtn,.replycompleteEditBtn{
    height:100%;
    width:80px;
    height:30px;
    border:1px solid #326CF9;
    background-color: white;
    border-radius: 5px;
}
.replyEditBtn:hover,.replycompleteEditBtn:hover{
    cursor: pointer;
    background-color: #326CF9;
    border:1px solid #326CF9;
    color:white;
}

.replyDelBtn, .replyEditCancleBtn{
    height:100%;
    width:80px;
    height:30px;
    border:1px solid #A0A0A0;
    background-color: white;
    border-radius: 5px;
}
.replyDelBtn:hover, .replyEditCancleBtn:hover{
    height:100%;
    width:80px;
    height:30px;
    border:1px solid #A0A0A0;
    background-color: #A0A0A0;
    color:white;
    border-radius: 5px;
}

.naviFooter{
    margin-top:10px;
    display: flex;
    justify-content: space-evenly;
    font-size: large;
}
