.estateTable {
  font-family: "NanumBarunGothic";
  margin-top: 60px;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
}

.estateTable img {
  width: 80px;
  height: 80px;
}

.naviFooter{
  display: flex;
  justify-content: space-evenly;
  font-size: large;
  text-align: center;
}

.searchDiv{
  display: flex;
  justify-content: end;
}

.bigTitle {
  font-family: "NanumBarunGothicBold";
  margin-top: 60px;
  font-size: 46px;
  line-height: 70px;
  letter-spacing: -1px;
  font-weight: 700;
  text-align: center;
}

.estateTable th:nth-child(4),
.estateTable td:nth-child(4) {
  width: 25%;
}

.buttonDiv {
  font-family: "NanumBarunGothic";
  text-align: center;
}