.list_main {
  overflow-y: auto;
  height: 100%;
}

.list_main * {
  font-family: "NanumBarunGothic";
}

.list_main::-webkit-scrollbar {
  width: 6px;
  height: 5px;
}

.list_main::-webkit-scrollbar-thumb {
  /*  height: 30%;
  background: #909090;
  border-radius: 10px;  */

  background-color: #ccc;
  border-radius: 3px !important;
}

.list_main::-webkit-scrollbar-track {
  /* background: rgba(33, 122, 244, 0.1); */
  background-color: #fafafa;
}

.list_cnt {
  height: 50px;
  line-height: 50px;
  text-align: center;
  font-size: 14px;
  font-weight: 600;
  color: #1a1a1a;
  position: relative;
}

.unit_change {
  position: absolute;
  height: 28px;
  width: 28px;
  line-height: 20px;
  right: 10px;
  top: 11px;
  cursor: pointer;
}

.unit_change img {
  height: 100%;
  width: 100%;
}

.list_default_size {
  height: calc(100% - 50px);
}

.list_box {
  border-top: 1px solid #d9d9d9;
  height: 145px;
  width: 100%;
  font-size: 14px;
  color: #1a1a1a;
  display: flex;
  padding: 10px;
  cursor: pointer;
  transition: all 0.3s;
}

.list_box:hover {
  background-color: #d9d9d9;
}

.list_box_img {
  width: 40%;
  border: 1px solid #d9d9d9;
  border-radius: 5px;
}

.list_box_img img {
  width: 100%;
  height: 100%;
}

.list_box_text {
  width: 60%;
  padding-left: 10px;
}

.recommend {
  font-size: 10px;
  color: rgb(50, 108, 249);
  /* background-color: rgb(255, 247, 240); */
  padding: 2px;
  border-radius: 5px;
  margin-right: 4px;
}

.list_box_top {
  font-size: 12px;
}

.list_title {
  font-size: 18px;
  font-weight: 600;
  margin-top: 6px;
  margin-bottom: 4px;
}

.list_subtitle {
  font-size: 14px;
  margin-top: 2px;
}

.list_simple {
  font-size: 14px;
  margin-top: 4px;
  color: #808080;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.noData {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.noData_content {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.message {
  display: flex;
  justify-content: center;
  align-items: center;
  height: calc(100% - 50px);
}

.message_content {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.message_content_text {
  text-align: center;
  font-size: 14px;
  
}