.container {
    display: block;
    border-bottom: 1px solid rgb(225, 225, 225);
    background: rgb(255, 255, 255);
    min-width: 1290px;
    position: fixed;
    z-index: 101;
    left: 0px;
    right: 0px;
    top: 0px;
}

.logo_wrap{
    float: left;
    margin-right: 10px;
    width: 226px;
    height: 79px;
    text-align: center;
    line-height: 130px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 8px;
}
.gnb{
    float: left;
    position: relative;
}
.gnb_container{
    list-style: none;
    margin: 10px;
    padding: 0;
}
.gnb>ul>li{
    display: block;
    float: left;
    position: relative;
    margin-right: 15px;
    cursor: pointer;
}
.gnb > ul > li >  a {
    display: block;
    line-height: 30px;
    padding: 19px 15px 17px;
    text-decoration: none;
    color: black;
}
.gnb>ul>li> a>Button>span {
    display: block;
    font-size: 17px;
    color: rgb(34, 34, 34);
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.53;
    letter-spacing: normal;
    
    
}
.depth2_bx {
    margin-top: 1px;
    left: 0px;
}
.depth2_bx {
    width: 179px;
    visibility: hidden;
    opacity: 0;
    position: absolute;
    padding: 8px 0px;
    min-width: 100%;
    z-index: 999;
    background-color: rgb(255, 255, 255);
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 4px 0px;
    border: 1px solid rgb(225, 225, 225);
    transition: visibility 0.25s ease 0s, opacity 0.25s ease 0s;
    box-sizing: border-box;
}
.depth2_bx > a {
    z-index: 999;
    line-height: 16px;
    font-size: 13px;
    color: rgb(0, 0, 0);
    padding: 9px 15px;
    display: block;
    white-space: nowrap;
    cursor: pointer !important;
    text-decoration: none;
    color: inherit;
}
.depth2_bx > a:hover{
    background-color: rgb(240, 240, 240);
}
.has_d2:hover .depth2_bx {
    visibility: visible;
    opacity: 1;
  }
  .depth2_bx>a:hover{
    visibility: visible;
    opacity: 1;
  }
.top_btn{
    float: right;
    height: 80px;
    display: flex;
    font-size: 30px;
    line-height: 70px;
}
.top_btn_menu {
    padding-top: 10px;
    margin-right: 10px;
  }
  .top_btn_menu a{
    text-decoration: none;
    color: black;
  }
  .top_right_menu{
    margin-right: 20px;
    padding-top: 10px;
  }
  .top_right_menu a{

    text-decoration: none;
    color: black;
  }