.home_top{
    border: 1px solid #000;
    height: 50px;
}

.home_top ul{
    list-style:none;
}

.home_top li{
    float: left;
    margin-right: 20px;
    border: 1px solid #000;
    font-size: 15px;
    padding: 0 20px;
}

.main_box{ 
    width: 100%;
    height: calc(100vh - 86.5px);
    display: flex;
}

.home_body_map{
    width: calc(100% - 400px);
}

.home_body_side{
    width: 400px;
}