/* SliderToggle.css */

.slider-toggle {
    display: inline-block;
    flex-direction: column;
    align-items: center;
    text-align: center;
    position: absolute;
    right: 0;
    bottom: -4px;
  }
  
  .switch {
    position: relative;
    display: inline-block;
    width: 48px;
    height: 28px;
    padding: 2px;
  }
  
  .switch input {
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #d9d9d9; /* Blue color for slider */
    -webkit-transition: .4s;
    transition: .4s;
    border-radius: 34px;
  }
  
  .slider:before {
    position: absolute;
    content: "";
    height: 24px;
    width: 24px;
    left: 2px;
    bottom: 2px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
    border-radius: 50%;
  }
  
  input:checked + .slider {
    background-color: #FF6905; /* Change to a different color when checked */
  }
  
  input:focus + .slider {
    box-shadow: 0 0 1px #d9d9d9;
  }
  
  input:checked + .slider:before {
    -webkit-transform: translateX(22px);
    -ms-transform: translateX(22px);
    transform: translateX(22px);
  }
  