.container {
    width: 100%;
}
.img{
    width: 500px;
    height: auto;
}
.imgbag{
    width: 100%;
    background-color: #FFF6E5;
    text-align: center;
}
.box{
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 3%;
}
.baggray{
    background-color: #F6F6F6;
    padding-top: 2px;
    padding-bottom: 15px;
    padding-right: 35px;

}
.list{
    margin-bottom: 10px;
    margin-top: 10px;
}
.nextId{
    display: flex;
    margin-right: 20px;
}
.flex{
    display: inline-block;
    font-size: small;
}
.input_style,.select_style{
    width: 180px;
    font-family: 'IBM Plex Sans', sans-serif;
    font-size: 0.875rem;
    font-weight: 400;
    line-height: 1.5;
    padding: 8px 12px;
    border-radius: 8px;
    color: #000000; /* 이 색은 grey[500]에 해당합니다 */
    background: #fff;
    border: 1px solid #B0B8C4; /* 이 색은 grey[400]에 해당합니다 */
    box-shadow: 0px 2px 2px #E5EAF2;
}
input:hover, select:hover {
    border-color: #007FFF; /* 이 색은 blue[500]에 해당합니다 */
}

input:focus, select:focus {
    border-color: #007FFF; /* 이 색은 blue[500]에 해당합니다 */
    box-shadow: 0 0 0 3px #80BFFF; /* 이 색은 blue[200]에 해당합니다 */
    outline: 0; /* Firefox 등에서 추가적인 포커스 효과를 없애는 것 */
}
ul {
    list-style-type: none;
}
hr{
    color: #e1e1e1;
    margin-top: 13px;
}
 
  