* {box-sizing: border-box;}
.borderBox{
    border:1px solid #A0A0A0;
    margin-top:30px;
    padding:30px;
    border-radius:5px;
}
.boardTitle{
    font-size:xx-large;
    font-weight:bold;
    margin-top:10px;
}
.boardTitle span{
    font-weight:normal;
    font-size:large;
}
.boardTitle+hr{
    height:4px;
    color:black;
    background-color: black;
    margin-bottom:20px;
}
.anonymousInfo{
    font-size:large;
    overflow: hidden;
    height:40px;
    margin-bottom:15px;
}
.anonymousInfo>div{
    float:left;
    height:100%;
    display: flex;
    align-items: center;
}
.anonymousInfo>div:nth-child(2){
    padding-left:10px;
}
.anonymousInfo>div:nth-child(2)>input{
    margin-right:5px;
}
.anonymousInfo span{color:red;}
.anonymousInfo>div:nth-child(2)>span{
    color:black;
    padding-right:20px;
}
.scoreInfo{
    font-size:large;
    overflow: hidden;
    height:40px;
    margin-bottom:15px;
}
.scoreInfo>div{
    float:left;
    height:100%;
    display: flex;
    align-items: center;
}
.scoreInfo span{color:red;}

.scoreBox {
    overflow: hidden;
    margin-left:10px;
    height:30px;
}
.scoreBox>div {
    float: left;
    width: 35px;
    height:100%;
    margin-right: 10px;
    display: flex;
    align-items: center;
}

.scoreBox img {
    width: 100%;
    min-width:35px;
    min-height:34px;
}

.reviewInsert{margin-bottom:10px;}
.reviewInsert>div:nth-child(1){
    font-size:large;
}
.reviewInsert span{color:red;}
.reviewInsert textarea{
    resize: none;
    width:100%;
    border:1px solid #A0A0A0;
}


.imgInfo {
    overflow: hidden;
    margin-bottom:10px;
    height:30px;
}

.imgInfo>div { 
    float: left;
    height:100%;
}
.imgInfo>div:nth-child(1){font-size:large;}
.imgInfo>div:nth-child(2){
    font-size:small;
    display: flex;
    align-items: center;
}

.imgBox {overflow: hidden;}

.imgBox>div {
    float: left;
    position: relative;
    margin-right: 20px;
    width: 90px;
    height: 90px;
    display: flex;
    align-items: center;
    justify-content: center;
    border:1px solid #A0A0A0;
}

.imgBox label {
    position: absolute;
    font-size: xx-large;
    width: 35px;
    background-color: rgb(0,0,0,0.1);
    height: 35px;
    margin: 0px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.imgBox label:hover{cursor: pointer;}
.imgBox img {
    border: none;
    background-color: gainsboro;
    font-size: xx-large;
    font-weight: bold;
    width: 100%;
}

.btns{
    display: flex;
    justify-content: space-between;
}
.btns button{
    height:100%;
    width:90px;
    height:35px;
    border:1px solid gainsboro;
    border-radius: 5px;
}
.btns button:hover{
    cursor: pointer;
    background-color: #A0A0A0;
    border:1px solid #939393;
    color:white;
}


