.adminContainer {
    display: flex;
    width: 100%;
}
.sideBar {
    width: 20%;
    background-color: antiquewhite;
    padding: 40px;
    min-height: 89vh;
  }
  
  .mainContent {
    width: 80%;
  }