.menu{
    width: 100%;
    margin-bottom: 24%;
}
.link {
    text-decoration: none;
    color: inherit;
    font-size: large;
    color: #f1fcfc;
    font-weight: bolder;
  }
  .link:hover {
    /* color: black; */
    font-size: larger; 
}
