.delContainer {
    margin:auto;
    border: 1px solid  rgb(231, 231, 231);
    width:800px;
    margin-top:30px;
}

.backBtn {
    border: none;
    outline: none;
    background-color: white;
    width:30px;
    height:20px;
    margin-top:7px;
    margin-left:3px;
    display:flex;
    justify-content: center;
    align-items: center;
}

.backBtn {
    cursor: pointer;
}

.arrowLeft {
    width:30px;
    height:20px;
}

.titleBox {
    margin-top:30px;
    display: flex;
    justify-content: center;
}

.title {
    font-family: "NanumBarunGothic";
    font-size:15pt;
    font-weight: bold;
}

.inputBox {
    font-family: "NanumBarunGothic";
    display: flex;
    justify-content: center;
    margin-top:50px;
}

.inputInfo {
    width: 200px;
    font-family: 'IBM Plex Sans', sans-serif;
    font-size: 0.875rem;
    font-weight: 400;
    line-height: 1.5;
    padding: 8px 12px;
    border-radius: 8px;
    color: #000000; /* 이 색은 grey[500]에 해당합니다 */
    background: #fff;
    border: 1px solid #B0B8C4; /* 이 색은 grey[400]에 해당합니다 */
    box-shadow: 0px 2px 2px #E5EAF2;
}

.inputInfo:hover {
    border-color: #8faadc; /* 이 색은 blue[500]에 해당합니다 */
}

.inputInfo:focus {
    border-color: #8faadc; /* 이 색은 blue[500]에 해당합니다 */
    box-shadow: 0 0 0 3px #DAECFF; /* 이 색은 blue[200]에 해당합니다 */
    outline: 0; /* Firefox 등에서 추가적인 포커스 효과를 없애는 것 */
}

.delBtns {
    display: flex;
    justify-content: center;
    margin-top:50px;
    margin-bottom: 50px;
}

.delBtn {
    width:150px;
    height:50px;
    background-color: white;
    color:black;
    font-family: "NanumBarunGothic";
    border-radius: 5px;
    border: 1px solid  rgb(231, 231, 231);
}

.delBtn:hover {
    cursor: pointer;
    background-color: #326CF9;
    color:white;
}