* {
    box-sizing: border-box;
}

.myLogo {
    display: flex;
    justify-content: center;
    margin-top: 50px;
    color: #326CF9;
    font-family: "NanumBarunGothic";
    font-size: 30pt;
    font-weight: bold;
}

.infoContainer,
.ReviewContainer,
.ReportContainer {
    margin: auto;
    border: 1px solid  rgb(231, 231, 231);
    width: 800px;
    margin-top: 30px;
    margin-bottom : 50px;
}

.menuDiv {
    width: 810px;
    margin: auto;
    height: 120px;
    margin-top: 50px;
}

.menu {
    display: flex;
    justify-content: center;
    height: 100px;
    margin-top: 50px;
}

.menuInfo,
.menuReview,
.menuReport {
    font-family: "NanumBarunGothic";
    width: 270px;
    height: 100%;
    background-color: white;
    color: black;
    border: 1px solid  rgb(231, 231, 231);
}

.menuInfoSelected,
.menuReviewSelected,
.menuReportSelected {
    font-family: "NanumBarunGothic";
    width: 270px;
    height: 100%;
    background-color: #326CF9;
    color: white;
    border: 1px solid  rgb(231, 231, 231);
}

.menuInfo:hover,
.menuReview:hover {
    cursor: pointer;
}

.infoBox {
    display: flex;
    justify-content: center;
    margin-top: 50px;
    margin-bottom: 50px;
}

.leftInfo {
    font-family: "NanumBarunGothic";
    font-weight: bold;
    float: left;
    width: 100px;
}

.eleftInfo {
    font-family: "NanumBarunGothic";
    font-weight: bold;
    float: left;
    width: 200px;
}

.rightInfo {
    font-family: "NanumBarunGothic";
}

.cBtnBox {
    display: flex;
    justify-content: center;
    margin-bottom: 50px;
}

.changeBtn {
    font-family: "NanumBarunGothic";
    width: 180px;
    height: 50px;
    background-color: white;
    color: black;
    margin-right: 10px;
    border-radius: 5px;
    border: 1px solid  rgb(231, 231, 231);
    margin-left:10px;
}

.link {
    color: black;
    text-decoration: none;
}

.changeBtn:hover, .changeBtn:hover .link{
    cursor: pointer;
    background-color: #326CF9;
    color: white;
}

/*내가 본 방*/
.SawEstate {
    height: 70px;
    display: flex;
    align-items: center;
    font-family: "NanumBarunGothic";
    border-bottom:1px solid gainsboro;
}

.SawEstate img {
    width: 100px;
    height: 70px;
    border: 1px solid rgb(216, 216, 216);
}

.sawAddress {
    width:400px;
    height:100%;
    display: flex;
    align-items: center;
    margin-left:10px;
}
.sawTitle {
    width:200px;
    height:100%;
    display: flex;
    align-items: center;
}

.waitBtn {
    background-color: white;
    border:none;
}

.writeReviewBtn {
    background-color: #326CF9;
    border:none;
    border-radius: 5px;
    color:white;
}

.writeReviewBtn:hover {
    background-color: white;
    color:#326CF9;
    border: 1px solid #326CF9;
}

.refuseBtn {
    background-color: white;
    border:none;
}

.reviewTopics { 
    display: flex;
    align-items: center;
    width:100%;
    height:80px;
    margin:auto;
}

.reviewImage {
    display: flex;
    justify-content: center;
    align-items: center;
    width:100px;
    height: 100%;
    background-color: #8faadc;
    border: 1px solid rgb(255, 255, 255);
}

.reviewAddress {
    display: flex;
    justify-content: center;
    align-items: center;
    width:400px;
    height: 100%;
    background-color: #8faadc;
    border: 1px solid rgb(255, 255, 255);
}

.reviewInfo {
    display: flex;
    justify-content: center;
    align-items: center;
    width:200px;
    height: 100%;
    background-color: #8faadc;
    border: 1px solid rgb(255, 255, 255);
}

.reviewApproval {
    display: flex;
    justify-content: center;
    align-items: center;
    width:100px;
    height: 100%;
    background-color: #8faadc;
    border: 1px solid rgb(255, 255, 255);
}

.notSawYet {
    height:500px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "NanumBarunGothic";
}

/*신고 내역*/
.estateName {
    padding-left:10px;
    padding-right:10px;
    width: 25%;
    display:flex;
    justify-content: center;
}

.content {
    width: 30%;
    padding-left:10px;
    padding-right:10px;
}

.content2 {
    width: 35%;
    padding-left:10px;
    padding-right:10px;
}

.status {
    width: 10%;
    display:flex;
    justify-content: center;
}

.reportEstate {
    display: flex;
    justify-content: center;
    align-items: center;
    width:25%;
    height: 100%;
    background-color: #8faadc;
    border: 1px solid rgb(255, 255, 255);
}

.reportSubject {
    display: flex;
    justify-content: center;
    align-items: center;
    width:30%;
    height: 100%;
    background-color: #8faadc;
    border: 1px solid rgb(255, 255, 255);
}

.reportInfo {
    display: flex;
    justify-content: center;
    align-items: center;
    width:35%;
    height: 100%;
    background-color: #8faadc;
    border: 1px solid rgb(255, 255, 255);
}

.reportApproval {
    display: flex;
    justify-content: center;
    align-items: center;
    width:10%;
    height: 100%;
    background-color: #8faadc;
    border: 1px solid rgb(255, 255, 255);
}