*{box-sizing: border-box;}

.infoContainer, .JjimContainer, .ReviewContainer {
    margin:auto;
    border:1px solid black;
    width:800px;
    height:600px;
    margin-top:30px;
    display:flex;
    justify-content: center;
}

.infoBox {
    margin-top:50px;
}

.menu {
    margin:auto;
    width:810px;
    height:120px;
    margin-top:50px;
}

.menuInfo, .menuJjim, .menuReview {
    width:270px;
    height:100%;
    background-color: white;
    color:black;
}

.menuInfoSelected, .menuJjimSelected, .menuReviewSelected {
    width:270px;
    height:100%;
    background-color: black;
    color:white;
}

.menuInfo:hover, .menuJjim:hover, .menuReview:hover {
    cursor: pointer;
}

.leftInfo, .rightInfo {
    float:left;
    width:250px;
}

.leftInfo {
    font-weight: bold;
}

.cBtnBox {
    margin-top:50px;
}

.changeBtn {
    width:150px;
    background-color: white;
    color:black;
}

.changeBtn:hover {
    cursor: pointer;
    background-color: black;
    color:white;
}