.updContainer {
    margin:auto;
    border: 1px solid  rgb(231, 231, 231);
    width:800px;
    margin-top:30px;
}

.backBtn {
    border: none;
    outline: none;
    background-color: white;
    width:30px;
    height:20px;
    margin-top:7px;
    margin-left:3px;
    display:flex;
    justify-content: center;
    align-items: center;
}

.backBtn {
    cursor: pointer;
}

.arrowLeft {
    width:30px;
    height:20px;
}

.titleBox {
    margin-top:30px;
    display: flex;
    justify-content: center;
}

.title {
    font-family: "NanumBarunGothic";
    font-size:15pt;
    font-weight: bold;
}

.inputBox {
    font-family: "NanumBarunGothic";
    width:100%;
    display: flex;
    justify-content: center;
    margin-top:50px;
    margin-bottom:50px;
}

.inputInfo {
    width: 200px;
    font-family: 'IBM Plex Sans', sans-serif;
    font-size: 0.875rem;
    font-weight: 400;
    line-height: 1.5;
    padding: 8px 12px;
    border-radius: 8px;
    color: #000000; /* 이 색은 grey[500]에 해당합니다 */
    background: #fff;
    border: 1px solid #B0B8C4; /* 이 색은 grey[400]에 해당합니다 */
    box-shadow: 0px 2px 2px #E5EAF2;
}

.zipcodeBtn {
    border-radius: 5px;
    background-color: #8faadc;
    border:none;
    color:white;
    font-family: "NanumBarunGothicLight";
    width:120px;
    height:40px;
}

.inputZipcode {
    margin-right:10px;
    width: 200px;
    font-family: 'IBM Plex Sans', sans-serif;
    font-size: 0.875rem;
    font-weight: 400;
    line-height: 1.5;
    padding: 8px 12px;
    border-radius: 8px;
    color: #000000; /* 이 색은 grey[500]에 해당합니다 */
    background: #fff;
    border: 1px solid #B0B8C4; /* 이 색은 grey[400]에 해당합니다 */
    box-shadow: 0px 2px 2px #E5EAF2;
}

.changeBtns {
    display: flex;
    justify-content: center;
    margin-bottom:50px;
}

.changeBtn {
    width:150px;
    height:50px;
    background-color: white;
    color:black;
    font-family: "NanumBarunGothic";
    border-radius: 5px;
    border: 1px solid  rgb(231, 231, 231);
}

.changeEstateBtn {
    width:200px;
    height:50px;
    background-color: white;
    color:black;
    font-family: "NanumBarunGothic";
    border-radius: 5px;
    border: 1px solid  rgb(231, 231, 231);
}

.changeBtn:hover {
    cursor: pointer;
    background-color: #326CF9;
    color:white;
}

.changeEstateBtn:hover {
    cursor: pointer;
    background-color: #326CF9;
    color:white;
}